<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".view.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.PagerActivity" />
        <activity
            android:name=".view.LoginActivity"
            android:launchMode="singleTop" />
        <activity android:name=".view.RegisterActivity" />
        <activity
            android:name=".view.ViewActivity"
            android:launchMode="singleTop" />
        <activity android:name=".activity.PersonalActivity" />
        <activity android:name=".activity.MegessActivity" />
        <activity android:name=".activity.GuanzuActivity" />
        <activity android:name=".activity.ShopingActivity" />
        <activity android:name=".view.MovieDetailActivity" />
        <activity
            android:name=".view.DYDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".view.TicketActivity" />
        <activity android:name=".activity.Select_CineamActivity" />
        <activity android:name=".activity.MinessActivity" />
        <activity android:name=".view.CommentReplyActivity" />
        <activity android:name=".view.ScheduleActivity" />
        <activity android:name=".view.PayActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true" />



        <meta-data
            android:name="5cda16ab0cafb251e0000975"
            android:value="YOUR_APP_KEY" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel ID" />


        <receiver android:name=".service.NetBroadcastReceiver">

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop" />
        <activity android:name=".view.UpdatePwdActivity" />
        <activity android:name=".view.NetWorkActivity"></activity>

    </application>

</manifest>
